html,
body {
    height: 100%;
}

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px !important;
    background: #405FA2;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding-top: 100px; /*Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

nav, #nav-container {
    background-color: #405FA2 !important;
    width: 100% !important;
    border-color: #FFFFFF !important;
}

.navbar-brand {
    color: #FFFFFF !important;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #FFFFFF !important;
    height: 80px !important;
}

.navbar-inverse .navbar-toggle {
    border-color: #FFFFFF !important;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    color: #9d9d9c !important;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF !important;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #9d9d9c !important;
}
/*BANNER*/
img.img-responsive.img-full {
    height: 350px;
}
/*END BANNER
*/.box {
    border-radius: 5px;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-family: "Josefin Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

h2 {
    color: #FFFFFF;
}

.box h4 {
    color: #405FA2;
    text-align: center;
}

.box h3, .box h2 {
    color: #405FA2;
}

p {
    font-size: 1.25em;
    line-height: 1.6;
    color: #000;
}

hr {
    max-width: 400px;
    border-color: #999999;
}

/* Home Page Carousel */

header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.img-full {
    min-width: 100%;
}

.brand-before,
.brand-name {
    text-transform: capitalize;
}

.brand-before {
    margin: 15px 0;
}

.brand-name {
    margin: 0;
    font-size: 4em;
}

.tagline-divider {
    margin: 15px auto 3px;
    max-width: 250px;
    border-color: #999999;
}

.box {
    margin-bottom: 20px;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
}

.intro-text {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 1px;
}

.img-border {
    float: none;
    margin: 0 auto 0;
    border: #999999 solid 1px;
}

.img-left {
    float: none;
    margin: 0 auto 0;
}

div.overlay {
    background: transparent;
    position: relative;
    width: 100%;
    height: 350px; /* your iframe height */
    top: 350px; /* your iframe height */
    margin-top: -350px; /* your iframe height */
}

footer {
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
}

footer p {
    margin: 0;
    padding: 50px 0;
}

@media screen and (min-width: 768px) {
    .brand {
        display: inherit;
        margin: 0;
        padding: 30px 0 10px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        font-family: "Josefin Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 5em;
        font-weight: 700;
        line-height: normal;
        color: #fff;
    }

    .top-divider {
        margin-top: 0;
    }

    .img-left {
        float: left;
        margin-right: 25px;
    }

    .address-bar {
        display: inherit;
        margin: 0;
        padding: 0 0 40px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        text-transform: uppercase;
        font-size: 1.25em;
        font-weight: 400;
        letter-spacing: 3px;
        color: #fff;
    }
}

/* RECIPES */
table.broiling-table, table.braising-table, table.roasting-table {
    text-align: center;
    max-height: 100px;
    overflow-y: scroll;
}

.modal-backdrop.fade.in {
    height: 100vh !important;
}

.modal-content {
}

.modal-body {
    min-height: 500px !important;
}

.modal-body p {
    font-size: 14px !important;
}

div#imgModalRecipe {
    width: 50%;
    text-align: center;
    margin: auto;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 15px;
    min-width: 100px;
}

div#imgModalRecipe img {
    min-height: 200px;
    max-height: 200px;
    min-width: 100px;
    max-width: 450px;
    border-radius: 5px !important;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #405FA2;
    margin: 0 auto;
    width: 100%;
}

hr.modal-hr {
    clear: both;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.box-recipes {
    max-height: 500px;
}

div.div-recipes {
    max-height: 450px;
    overflow-y: scroll;
}

div.text-center {
    text-align: center;
}

div.div-recipe {
    margin-bottom: 20px;
}

div.div-recipe strong {
    color: #405FA2;
}

.img-recipe {
    float: left;
    margin-right: 20px;
    border-radius: 5px;
}

div.modal-body h6 {
    margin-top: 0;
    margin-bottom: 20px;
}

div.modal-body p {
    width: 90%;
    margin: auto;
}

div.modal-body ol {
    width: 70%;
    margin-left: 5%;
    float: left;
}

div.div-recipe h4 {
    margin-top: 0;
}

div.div-recipe div {
    font-size: 1em !important;
}

div.modal-header h2, div.modal-body h4, div.modal-body h6 {
    text-align: center;
}

div.modal-header h2, div.modal-body h4, div.modal-body h6, div.modal-body p strong {
    color: #405FA2;
}

div#imgModalCut img {
    border-radius: 5px;
}

div#recipe-modal-ajax button.btn.btn-primary {
    background-color: #405FA2;
}

.modal-recipe-print {
    text-align: center;
    width: 20%;
}

.modal-footer {
    clear: both;
}

/* END RECIPES */

/*MEDIA PAGE*/
ul.nav-tabs li.active a {
    color: #FFFFFF;
    background-color: #405FA2;
}

ul.nav-tabs li:hover a {
    color: #405FA2 !important;
}

/* END MEDIA */

/*CONSUMERS PAGE*/
div#client_navigation {
    text-align: center;
    width: 40%;
    margin: 0 auto;
}

div#client_navigation h5 {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

div#client_lists hr {
    clear: both;
}

div#client_lists h5 {
    text-align: center;
}

ul {
    list-style-type: none;
}

/* /CONSUMERS PAGE*/
/*SHIPPERS PAGE*/
div#member-application-modal h4.modal-title, div#shipper-application-modal h4.modal-title {
    color: #405FA2;
    text-align: center;
}
.application-div {
    margin: 5px;
}
.centered {
    text-align: center;
}
div.application-modal div {
    margin-bottom: 10px;
}
.highlight-table-row{
    background-color: #405FA2;
    color: #FFFFFF;
}
div.lamb-grading {
    max-height: 800px;
    overflow-x: scroll;
    overflow-y: scroll;
    text-align: center;
}

table.lamb-grading-table {

}

ul.dropdown-menu li {
    width: 100% !important;
}

ul.dropdown-menu li > a:link,
ul.dropdown-menu li > a:visited {
    color: #405FA2 !important;
}

.navbar-right {
    padding-top: 20px;
}

/* /SHIPPERS PAGE*/
@media screen and (max-width: 991px) {
    div#imgModalRecipe {
        width: 100%;
    }

    div#imgModalRecipe img {
        width: 250px;
        margin: auto;
    }
}

@media screen and (min-width: 991px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}

@media (max-width: 884px) {
    body {
        padding-top: 135px;
    }
}

@media (max-width: 767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
    .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
        background-color: #FFFFFF;
    }
    .navbar-inverse .navbar-toggle:focus span, .navbar-inverse .navbar-toggle:hover span{
        background-color: #405FA2;
    }
    .navbar-inverse .navbar-toggle span, .navbar-inverse .navbar-toggle span{
        background-color: #FFFFFF;
    }
    .navbar-inverse .navbar-toggle:focus{
         background-color: #FFFFFF;
    }
    .navbar-header{
        height: 80px;
    }
    .navbar-right{
        padding-top: 0px;
    }
    ul#header-menu{
        position: absolute;
        width: 100%;
    }
    div#bs-example-navbar-collapse-1, li.menu-item{
        background-color: #405FA2;
    }
    li.menu-item:hover{
        background-color: #FFFFFF;
    }
    ul.dropdown-menu li > a:link,
    ul.dropdown-menu li > a:visited {
        color: #FFFFFF !important;
    }
    ul.sub-menu.nav.navbar-nav.navbar-right.dropdown-menu{
        margin-bottom: 0;
    }
    div#nav-container {
        height: 80px !important;
    }
}

/*MEDIA QUERIES FOR RECIPE MODAL PRINTING*/
@media screen {
    #print-section {
        display: none;
    }
}

@media print {
    body * {
        visibility: hidden;
    }

    #print-section, #print-section * {
        visibility: visible;
    }

    #print-section {
        position: absolute;
        left: 0;
        top: 0;
    }
}